doctype html
html
  head
    title #{title}
    meta(http-equiv="content-type" content="text/html;charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    link(rel='stylesheet', href='/css/common/base.css')
    link(rel='stylesheet', href='/css/common/layout.css')
    block css

  body
    div(class="head")
      div(class="headW")
        div(class="logo")
        div(class="logo_title")
          span.logo_title_b 爱
          span.logo_title_n 在分享
          span.logo_title_b 艾
          span.logo_title_n 在行动
        div(class="nav" id="nav")
          div(class="moveItem" id="moveItem")
          ul(class="navList" id="navList")
            li(class="navItem #{selected === 'index' ? 'selected' : ''}")
              a(href="/") 首页
            li(class="navItem #{selected === 'aat' ? 'selected' : ''}")
              a(href="/aat") 走进艾艾贴
            li(class="navItem #{selected === 'news' ? 'selected' : ''}")
              a(href="/news") 新闻动态
            li(class="navItem #{selected === 'product' ? 'selected' : ''}")
              a(href="/product") 产品展示
            li(class="navItem #{selected === 'success' ? 'selected' : ''}")
              a(href="/success") 成功案例
            li(class="navItem #{selected === 'aijiu' ? 'selected' : ''}")
              a(href="/aijiu") 艾灸知识
            li(class="navItem #{selected === 'shop' ? 'selected' : ''}")
              a(href="/shop") 产品购买
            //li(class="navItem #{selected === 'join' ? 'selected' : ''}")
            //  a(href="/join") 代理加盟
            //li(class="navItem #{selected === 'contact' ? 'selected' : ''}")
            //  a(href="/contact") 在线咨询
    block content

    div(class="floatWin")
      img.fw_img(src="/img/weixinqr.png")
      p.fw_item
        span.fw_item_label 微信:
        span.fw_item_value L234537021
      p.fw_item
        span.fw_item_label QQ:
        span.fw_item_value 234537021
      p.fw_item
        span.fw_item_label 电话:
        span.fw_item_value 18923842830

    div(class="foot")
      span.foot_c Copyright from Mongking,Lou 2016.8
    script(src="/js/libs/jquery.min.js")
    script(src="/js/common/nav.js")
    block js